<<<<<<< HEAD
@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
=======
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
>>>>>>> e71f650 (Added testimonials and FAQs Section)
